{% extends "bootstrap/base.html" %}
{% block title %}Arrange Topics{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% set active_list = 'arrange_events' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Arrange Events</h1>
        <br />

        <div class='row' style='width:90%;text-align:center;'>
          <table class='filter-table' width="90%">
            <tr>
              <td align='right'>
                <label class='control-label' for='content-filter'>Content: </label>
                <select id='content-filter'>
                    <option selected>----Any----</option>
                  {% for c_name in content_names %}
                    <option>{{ c_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <label class='control-label' for='format-filter'>Format: </label>
                <select id='format-filter'>
                  <option selected>--------Any--------</option>
                  {% for f_name in format_names %}
                    <option>{{ f_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='left'>
                <button class='btn btn-primary' id='set_filter'>Search</button>
              </td>
            </tr>
          </table>
        </div>
        <br>

        <div class="table-responsive">
          {% if not events %}
			      <div class="panel panel-warning">
            	<div class="panel-heading">
              	<h2 class="panel-title">No event records yet.</h2>
              </div>
              <div class="panel-body">
              	You can <a href="/event/create">register new events here</a>.<br />
              	More actions are available on the left-hand side navigator bar.
              </div>
          	</div>
		  	  {% else %}
          	{% for event in events %}
          	  <!--h3 class="event_title text-muted"><a href="/event/view?uuid={{ event.uuid }}">{{ event.topic }}</a></h3>
          	  <h4 class="task_title text-success">&nbsp;&nbsp;Host by <strong>{{event.speaker}}</strong></h4-->
          	  <table class="table-arrange table-striped">
          	    <tbody>
          	      <tr>
          	      	<td><strong>{{ event.topic }}</strong></td>
                    <td>Speaker: {{ event.speaker }}</td>
                    <td>Format: {{event.format_type.name }}</td>
          	      	<!--c:if test="${ diet_tasks[i-1].state != 'Not Started'}"-->
          	      	<td>Content: {{event.content_type.name}}</td>
          	      </tr>
                  <form id='schedule_info' method='POST' action='/event/set_arrangement'>
          	      <tr>
          	      	<td>Audience: {{ event.min_attendance }} - {{ event.max_attendance }}</td>
          	      	<td>Time From: <input class='time-from' id='{{ event.uuid }}'></td>
                    <td>Time From: <input class='time-to' id='{{ event.uuid }}'></td>
                    <td>Resource: <input class='assign-resource' id='{{ event.uuid }}'></td>
          	      	<!--td>Interested</td-->
          	      </tr>
          	    </tbody>
          	  </table>
          	  <br />
          	    
          	{% endfor %}
          {% endif %}
        </div>
        <div style="display:none" id='confirm' title='Delete the selected event?'>
          <p>Do you want to delete the selected event?</p>
        </div>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.js')}}"></script>
  <script>
    $(document).ready(function() {
      $("#set_filter").click(function(){
        var suffix = "";
        var content_name = $("#content-filter").find(":selected").text();
        var format_name = $("#format-filter").find(":selected").text();
        if (content_name != "----Any----" && format_name != "--------Any--------"){
          suffix += "?content=" + content_name + "&format=" + format_name;
        }
        else if (content_name != "----Any----"){
          suffix += "?content=" + content_name;
        }
        else if (format_name != "--------Any--------"){
          suffix += "?format=" + format_name;
        }
        $(window.location).attr('href', '/event/arrange'+suffix);
      });

      $(".time-from").timepicker({ 'timeFormat': 'H:i:s' });
      $(".time-to").timepicker({ 'timeFormat': 'H:i:s' });
    });
  </script>
{% endblock %}