{% extends "bootstrap/base.html" %}
{% block title %}Arrange Topics{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% set active_list = 'arrange_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Arrange Topics</h1>
        <br />

        <div class='row' style='width:90%;text-align:center;'>
          <table class='filter-table' width="90%">
            <tr>
              <td align='right'>
                <label class='control-label' for='content-filter'>Content: </label>
                <select id='content-filter'>
                    <option selected>----Any----</option>
                  {% for c_name in content_names %}
                    <option>{{ c_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <label class='control-label' for='format-filter'>Format: </label>
                <select id='format-filter'>
                  <option selected>--------Any--------</option>
                  {% for f_name in format_names %}
                    <option>{{ f_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='left'>
                <button class='btn btn-primary' id='set_filter'>Search</button>
              </td>
            </tr>
          </table>
        </div>
        <br>

        <div class="table-responsive">
          {% if not topics %}
			      <div class="panel panel-warning">
            	<div class="panel-heading">
              	<h2 class="panel-title">No topic records yet.</h2>
              </div>
              <div class="panel-body">
              	You can <a href="/topic/create">register new topics here</a>.<br />
              	More actions are available on the left-hand side navigator bar.
              </div>
          	</div>
		  	  {% else %}
          	{% for topic in topics %}
          	  <!--h3 class="topic_title text-muted"><a href="/topic/view?uuid={{ topic.topic_id }}">{{ topic.topic }}</a></h3>
          	  <h4 class="task_title text-success">&nbsp;&nbsp;Host by <strong>{{topic.speaker}}</strong></h4-->
              <form class='schedule-info'>
          	  <table class="table-arrange table-striped">
          	    <tbody>
          	      <tr>
          	      	<td><strong>{{ topic.title }}</strong></td>
                    <td>Speaker:
                      {% if topic.speaker2 == '' and topic.speaker3 == '' %}
                        {{ topic.speaker1 }}
                      {% else %}
                        {{ topic.speaker1 + ', etc.' }}
                      {% endif %}
                    </td>
                    <td><b>{{topic.format_type.name }}</b> ({{topic.content_type.name}})</td>
          	      	<!--c:if test="${ diet_tasks[i-1].state != 'Not Started'}"-->
          	      	<td>Duration:
                      {% if topic.day_duration != "0" %}
                        {{ topic.day_duration + ' days ' }}
                      {% endif %}
                      {% if topic.hour_duration != "0" %}
                        {{ topic.hour_duration + ' hours ' }}
                      {% endif %}
                      {% if topic.minute_duration != "0" %}
                        {{ topic.minute_duration + ' minutes ' }}
                      {% endif %}
                    </td>
          	      </tr>
          	      <tr>
                    <!-- <div class='data-wrapper'> -->
                    <!-- <input type='hidden' id='topic_id' value='{{ topic.topic_id }}'> -->
          	      	<td>Audience: {{ topic.min_attendance }} - {{ topic.max_attendance }}</td>
          	      	<td>Date: <input class='date-picker' name='date-picker' value='{{ topic.schedule.first().day_from }}'></td>
                    <td>Time: <input class='time-from' size='8' value='{{ topic.schedule.first().time_from }}'> to <input class='time-to' size='8' value='{{ topic.schedule.first().time_to }}'></td>
                    <td>Resource: <select class='assign-resource' id='{{ topic.topic_id }}' name='{{ topic.schedule.first().resource }}'></td>
          	      	<!--td>Interested</td-->
                    <!-- </div> -->
          	      </tr>
          	    </tbody>
          	  </table>
              </form>
          	  <br />
          	    
          	{% endfor %}
            <button class='btn btn-primary' id='submit_schedule'>Submit</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <meta name="csrf-token" content="{{ csrf_token() }}"></meta>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.js')}}"></script>
  <script>
    $(document).ready(function() {

      var csrftoken = $('meta[name=csrf-token]').attr('content');

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      $("#set_filter").click(function(){
        var suffix = "";
        var content_name = $("#content-filter").find(":selected").text();
        var format_name = $("#format-filter").find(":selected").text();
        if (content_name != "----Any----" && format_name != "--------Any--------"){
          suffix += "?content=" + content_name + "&format=" + format_name;
        }
        else if (content_name != "----Any----"){
          suffix += "?content=" + content_name;
        }
        else if (format_name != "--------Any--------"){
          suffix += "?format=" + format_name;
        }
        $(window.location).attr('href', '/topic/arrange'+suffix);
      });

      $(".date-picker").datepicker({ minDate: "0", maxDate: "+12M", dateFormat: "yy-mm-dd"});
      $(".time-from").timepicker({
        'timeFormat': 'H:i:s',
        'minTime': '6:00am',
        'maxTime': '9:00pm',
        'step': '15'
      });
      $(".time-to").timepicker({
        'timeFormat': 'H:i:s',
        'minTime': '6:00am',
        'maxTime': '9:00pm',
        'step': '15'
      });

      $("#submit_schedule").click(function(){
        var data = [];
        var err_count = 0;
        $(".front-validation").each(function(){
          $(this).remove();
        });
        $('input').each(function(){
          $(this).css('border', '1px solid LightGray');
        });
        $('select').each(function(){
          $(this).css('border', '1px solid LightGray');
        });
        $(".schedule-info").each(function(){
          var individual = new Object();
          var date = $(this).find('.date-picker').val();
          var time_from = $(this).find('.time-from').val();
          var time_to = $(this).find('.time-to').val();
          var resource = $(this).find('.assign-resource').val();
          var topic_id = $(this).find('.assign-resource').attr('id');
          var blank = 0;
          if (date == ''){
            $(this).find('.date-picker').css('border', '1px solid #ff0000');
            $(this).find('.date-picker').parent().append("<div class='front-validation'><font color='red'>Please select a date.</font></div>");
            blank ++;
          }
          if (time_from == ''){
            $(this).find('.time-from').css('border', '1px solid #ff0000');
            $(this).find('.time-from').parent().append("<div class='front-validation'><font color='red'>Please select start time.</font></div>");
            blank ++;
          }
          if (time_to == ''){
            $(this).find('.time-to').css('border', '1px solid #ff0000');
            $(this).find('.time-to').parent().append("<div class='front-validation'><font color='red'>Please select finish time.</font></div>");
            blank ++;
          }
          if (time_to != '' && time_from != ''){
            t_to = timeToSecond(time_to);
            t_from = timeToSecond(time_from);
            if (t_to <= t_from){
              blank++;
              $(this).find('.time-from').css('border', '1px solid #ff0000');
              $(this).find('.time-to').css('border', '1px solid #ff0000');
              $(this).find('.time-from').parent().append("<div class='front-validation'><font color='red'>Start time must be earlier than finish time.</font></div>");
            }
          }
          if (resource == ''){
            $(this).find('.assign-resource').css('border', '1px solid #ff0000');
            $(this).find('.assign-resource').parent().append("<div class='front-validation'><font color='red'>Please select a resource.</font></div>");
            blank ++;
          }
          if (blank > 0){
            err_count ++;
            return true;
          }
          individual['date'] = date;
          individual['time_from'] = time_from;
          individual['time_to'] = time_to;
          individual['resource'] = resource;
          individual['topic_id'] = topic_id;
          data.push(individual);
        });
        if (err_count > 0){
          return true;
        }
        $.ajax({
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          url: "/topic/validate_arrangement",
          data: JSON.stringify({ "schedule": data }),
          success: function(data){
            $(".err-msg").each(function(){
              $(this).remove();
            });
            if (data['ErrorMessage']){
              err_msg = data['ErrorMessage'];
              console.log(err_msg);
              $.each(err_msg, function(key, value){
                console.log(value);
                var error_alert = '<tr><td colspan="4"><div class="err-msg">';
                error_alert += '<font color="red">' + value['message'] + '</font></div></td></tr>';
                $("#"+value['topic_id']).closest('tbody').append(error_alert);
              });
            }
            else if (data['status']){
              alert("Topic schedule updating status: " + data['status']);
            }
          }
        });
      });

      $(".assign-resource").each(function(){
        var topic_id = $(this).attr('id');
        $(this).empty();
        $(this).append("<option value=''>-----Select-----</option>")
        $.getJSON("/topic/filter_resources", {'topic_id': topic_id}, function(data){
          $.each( data, function( key, val ){
            if (key == $('#'+topic_id).attr('name')){
              $('#'+topic_id).append("<option value='" + key + "' selected>" + val + "</option>");
            }
            else {
              $('#'+topic_id).append("<option value='" + key + "'>" + val + "</option>");
            }
          });
        });
        
      });

      function timeToSecond(time){
        time = time.split(/:/);
        return time[0] * 3600 + time[1] * 60 + time[2];
      }


    });
  </script>
{% endblock %}