{% extends "bootstrap/base.html" %}
{% block title %}All Available Topics{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% set active_list = 'available_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Available Topics</h1>
        <br />
        <div class="table-responsive">
          {% if not topics %}
			      <div class="panel panel-warning">
            	<div class="panel-heading">
              	<h2 class="panel-title">No  records yet.</h2>
              </div>
              <div class="panel-body">
              	You can <a href="/topic/create">register new topics here</a>.
              </div>
          	</div>
		  	 {% else %}
          	{% for topic in topics %}
          	  <h3 class="topic_title text-muted"><a href="/topic/view?topic_id={{ topic.topic_id }}">{{ topic.title }}</a></h3>
          	  <table class="table">
          	    <tbody>
          	      <tr>
          	      	<td>Attendance Number: {{ topic.min_attendance }} - {{ topic.max_attendance }}</td>
                    <td>Content: {{ topic.content_type.name }}</td>
                    <td>Created Date: {{ topic.create_date }}</td>
          	      	<td><a class="btn btn-info" role="button" href="/topic/modify/{{ topic.topic_id }}">Join</a></td>
          	      </tr>
          	      <tr>
          	      	<td>Topic Status: {{ topic.status }}</td>
          	      	<td colspan="2">Topic format: {{ topic.format_type.name }}</td>
          	      	<td><button class="btn btn-info delete" role="button" name="{{ topic.topic_id }}">Interested</button></td>
          	      </tr>
          	    </tbody>
          	  </table>
          	  <br />
          	{% endfor %}
          {% endif %}
        </div>
        <div style="display:none" id='confirm' title='Delete the selected topic?'>
          <p>Do you want to delete the selected topic?</p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}