{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Topic Registration{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href="{{url_for('static', filename='bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css')}}" rel="stylesheet">
  <style>
  	.form-group {width:50%;}
  </style>
  {% set active_list = 'register_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  	  {% include 'public/side_bar.html' %}
  	  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  	  	{{ wtf.quick_form(form, action='/topic/create', method='post', extra_classes='form-reg', id='reg_form') }}
        <button type="button" class="btn btn-primary btn-login" id="submit">Register</button>
      </div>
  	</div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js')}}"></script>
  <script>
    $(document).ready(function() {

      var cache = {};
      $("#speaker1, #speaker2, #speaker3").tokenfield({
        autocomplete:{
          minLength: 1,
          source: function( request, response ) {
            var term = request.term;
            if ( term in cache ) {
              response( cache[ term ] );
              return;
            }
            $.getJSON( "/ajax_speaker", request, function( data, status, xhr ) {
              cache[ term ] = data;
              console.log(data);
              response( data );
            });
          }
        },
      });
	    
      $("#submit").click(function(){
		    $("#reg_form").submit();
      });
  	  
      $( "#start_date" ).datepicker({ minDate: "0", maxDate: "+12M", dateFormat: "yy-mm-dd"});
    });
  </script>
	
    });
  </script>
{% endblock %}