{% extends "bootstrap/base.html" %}
{% block title %}Place Events{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jqwidgets/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>
    .ui-dialog {
      z-index: 1050;
    }
  </style>
  {% set active_list = 'place_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Place Topics</h1>
        <br />
        <div class='row' style='text-align:center;'>
          <table class='filter-table' width="90%">
            <tr>
              <td align='center'>
                <label class='control-label' for='content-filter'>Content: </label>
                <select id='content-filter'>
                    <option selected>----Any----</option>
                  {% for c_name in content_names %}
                    <option>{{ c_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='center'>
                <label class='control-label' for='format-filter'>Format: </label>
                <select id='format-filter'>
                  <option selected>--------Any--------</option>
                  {% for f_name in format_names %}
                    <option>{{ f_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='center'>
                <label class='control-label' for='location-filter'>Location: </label>
                <select id='location-filter'>
                  <option selected>------Any------</option>
                  {% for l in locations %}
                    <option>{{ l }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <button class='btn btn-primary' id='set_filter'>Search</button>
              </td>
            </tr>
          </table>
        </div>
        <br>
        <div id='scheduler_wrapper'>
          <div id='scheduler' width='100%'></div>
        </div>
        <div id='scheduler_btn'>
          <button class='btn btn-info' id='scheduler_update' >Show Results</button>
        </div>
        <div id="dialog" style='display:none;' title="Modifications are detected!">
          <p>Unsaved Modifications have been detected on the current scheduler.<br />
            Refreshing the scheduler would discard these changes.</p>
        </div>
        <meta name="csrf-token" content="{{ csrf_token() }}"></meta>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcore.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxbuttons.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscrollbar.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdata.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdate.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscheduler.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscheduler.api.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdatetimeinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxmenu.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcalendar.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxtooltip.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxwindow.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcheckbox.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxlistbox.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdropdownlist.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxnumberinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxradiobutton.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/globalization/globalize.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/globalization/globalize.culture.de-DE.js')}}"></script>
  <script>
    $(document).ready(function() {

      var appointments = new Array();
      var csrftoken = $('meta[name=csrf-token]').attr('content');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var modified_list = [];

      $("#set_filter").click(function(){
        if (modified_list.length>0){
          $('#dialog').dialog({
            width:400,
            height:240,
            modal: true,
            buttons: {
              Confirm: function() {
                $( this ).dialog( "close" );
                recreate_scheduler();
              },
              Cancel: function() {
                $( this ).dialog( "close" );
              }
            }
          });
        }
        else {
          recreate_scheduler();
        }
      });

      $('#scheduler_wrapper').on('appointmentChange', '#scheduler', function (event) {
        var args = event.args;
        var appointment = args.appointment;
        //var from = appointment['from'].toString('yyyy-MM-dd');
        //var resource = $('#scheduler').jqxScheduler('getAppointmentProperty', appointment['id'], 'resourceId');
        //var from = $('#scheduler').jqxScheduler('getAppointmentProperty', appointment['id'], 'from').toString('yyyy-MM-dd HH:mm:ss');
        if ($.inArray(appointment['id'], modified_list) == -1){
          modified_list.push(appointment['id']);
        }
        console.log(modified_list);
      });

      $('#scheduler_update').click(function(){
        for (var topic_id in modified_list){
          // Get modified date and resource
          // Generate json with id, from, to and resource
          // Send back to the validation function to do validation
          // Get response from topic/views.py
          // Reset modified_list to empty
        }
      });

      $("#set_filter").trigger('click');

      function recreate_scheduler(){
        var filter_data = [];
        var content_name = $("#content-filter").find(":selected").text();
        var format_name = $("#format-filter").find(":selected").text();
        var location = $("#location-filter").find(":selected").text();
        if (content_name != "----Any----"){
          filter_data.push({'type': 'content', 'value': content_name});
        }
        if (format_name != "--------Any--------"){
          filter_data.push({'type': 'format', 'value': format_name});
        }
        if (location != "------Any------"){
          filter_data.push({'type': 'location', 'value': location});
        }
        $.ajax({
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          url: "/topic/ajax_schedule",
          data: JSON.stringify({ "filters": filter_data }),
          success: function(data){
            var source =
              {
                dataType: "json",
                dataFields: [
                  { name: 'topic_id', type: 'string' },
                  { name: 'contentFormat', type: 'string'},
                  { name: 'description', type: 'string' },
                  { name: 'year', type: 'string' },
                  { name: 'topic_title', type: 'string' },
                  { name: 'resource', type: 'string' },
                  { name: 'from', type: 'date' },
                  { name: 'to', type: 'date' }
                ],
                id: 'topic_id',
                localData: data
              };

            var data_of_resources = 
              {
                dataType: "json",
                dataFields: [
                  { name: 'resource', type: 'string' },
                ],
                id: 'topic_id',
                url: '/topic/ajax_resources'
              };

            var adapter = new $.jqx.dataAdapter(source);
            $("#scheduler").jqxScheduler('destroy');
            $("#scheduler_wrapper").append('<div id="scheduler" width="100%"></div>');
            $("#scheduler").jqxScheduler({
              date: new $.jqx.date(2015, 12, 28),
              width: '90%',
              height: 1200,
              rowsHeight: 25,
              dayNameFormat: "abbr",
              source: adapter,
              showLegend: true,
              ready: function () {
                //$("#scheduler").jqxScheduler('ensureAppointmentVisible', 'id1');
              },
              editDialogCreate: function (dialog, fields, editAppointment) {
                var assigned_content_format = null;
                if (editAppointment != null){
                  assigned_content_format = editAppointment.location;
                }
                var format_field = "<div><div class='jqx-scheduler-edit-dialog-label'>Format</div><div class='jqx-scheduler-edit-dialog-field'><input class='jqx-widget-content jqx-input jqx-widget jqx-rc-all' style='width:100%;height:25px;' value='" + assigned_content_format + "' disabled /></div></div>";
                fields.repeatContainer.hide();
                fields.statusContainer.hide();
                fields.allDayContainer.hide();
                fields.colorContainer.hide();
                fields.timeZoneContainer.hide();
                fields.locationContainer.hide();
                fields.resourceLabel.html('Resource');
                fields.subject.prop('disabled', true);
                fields.description.prop('disabled', true);
                fields.description.attr('rows', '8');
                fields.subject.parent().after(format_field);
              },
              editDialogOpen: function (dialog, fields, editAppointment) {
                if (editAppointment != null){
                  fields.subject.parent().next().find('input').val(editAppointment.location);
                }
                else {
                  fields.subject.parent().next().find('input').val('');
                }
              },
              resources:
              {
                colorScheme: "scheme05",
                dataField: "resource",
                orientation: "horizontal",
                source:  new $.jqx.dataAdapter(data_of_resources)
              },
              appointmentDataFields:
              {
                from: "from",
                to: "to",
                id: "topic_id",
                description: "description",
                location: "contentFormat",
                subject: "topic_title",
                resourceId: "resource",
              },
              view: 'dayView',
              views:
              [
                { type: 'dayView', showWeekends: false, timeRuler: { scaleStartHour: 7, scaleEndHour: 21, scale: "tenMinutes", formatString: "HH:mm" }, appointmentsRenderMode: "exactTime" },
                { type: 'weekView', showWeekends: false }
              ]
            });
          }
        });
      }

    });
  </script>
{% endblock %}