{% extends "bootstrap/base.html" %}
{% block title %}Place Events{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jqwidgets/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>
    .ui-dialog {
      z-index: 1050;
    }
  </style>
  {% set active_list = 'place_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Place Topics</h1>
        <br />
        <div class='row' style='text-align:center;'>
          <table class='filter-table' width="90%">
            <tr>
              <td align='center'>
                <label class='control-label' for='content-filter'>Content: </label>
                <select id='content-filter'>
                    <option value='any' selected>----Any----</option>
                  {% for c_name in content_names %}
                    <option value='{{ c_name.id }}'>{{ c_name.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='center'>
                <label class='control-label' for='format-filter'>Format: </label>
                <select id='format-filter'>
                  <option value='any' selected>--------Any--------</option>
                  {% for f_name in format_names %}
                    <option value='{{ f_name.id }}'>{{ f_name.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='center'>
                <label class='control-label' for='location-filter'>Location: </label>
                <select id='location-filter'>
                  <option selected>------Any------</option>
                  {% for l in locations %}
                    <option>{{ l }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <button class='btn btn-primary' id='set_filter'>Search</button>
              </td>
            </tr>
            <tr><td colspan=4 style='padding-left:15px;'><hr></td></tr>
            <tr><td colspan=4><button class='btn btn-info' id='reset_schedule'>Reset schedule records</button></td></tr>
          </table>
        </div>
        <br>
        <div id='scheduler_wrapper'>
          <div id='scheduler' width='100%'></div>
        </div>
        <div class='row' style='text-align:center;margin-top:20px;'>
          <table width="90%">
            <tr>
              <td>
                <button class='btn btn-info' id='scheduler_update' >Update Schedule</button>
              </td>
            </tr>
          </table>
        </div>
        <div id="dialog" style='display:none;' title="Modifications are detected!">
          <p>Unsaved Modifications have been detected on the current scheduler.<br />
            Refreshing the scheduler would discard these changes.</p>
        </div>
        <div id="dialog_reset" style='display:none;' title="Do you want to reset the scheduler?">
          <p>Once reset, all records in the current scheduler would be removed.<br />
            Are you sure you want to reset the scheduler?</p>
        </div>
        <div style='display:none;' id='err_msgs' title='Conflicts Detected'></div>
        <meta name="csrf-token" content="{{ csrf_token() }}"></meta>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcore.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxbuttons.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscrollbar.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdata.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdate.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscheduler.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscheduler.api.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdatetimeinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxmenu.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcalendar.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxtooltip.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxwindow.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcheckbox.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxlistbox.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdropdownlist.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxnumberinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxradiobutton.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/globalization/globalize.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/globalization/globalize.culture.de-DE.js')}}"></script>
  <script src="{{url_for('static',filename='js/topic_scheduler.js')}}"></script>
    
{% endblock %}