{% extends "bootstrap/base.html" %}
{% block title %}Place Events{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jqwidgets/jqwidgets/styles/jqx.base.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>
    .color-legend {
      position: relative;
    }
    #content-legend {
      table-layout: fixed;
    }
    #content-legend .legend-text {
      padding-left: 20px;
    }
    #content-legend .color-box {
      width: 10px;
      height: 10px;
      display: inline-block;
      /*background-color: #ccc;*/
      position: absolute;
      left: 5px;
      top: 5px;
    }
    #content-legend td {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      text-align: left;
      width: 10%;
      vertical-align: center;
      overflow: hidden;
      white-space: nowrap;
    }
    input[type="number"] {
      width:60px;
    }
    .scheduler-hide {
      display: none;
    }
  </style>

  {% set active_list = 'PT' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Place Topics</h1>
        <div class='row' style='text-align:center;'>
          {% include 'public/filter_table.html' %}
          <table class='scheduler-hide' width='90%'>
            <tr>
              <td align='right'><strong>Default duration:</strong></td>
              {% for fn in format_names %}
                <td class='default-text' align='center'><strong>{{ fn.name }}:</strong><br/>
                  <input type='number' class='default-duration' id='{{ fn.id }}' /> minutes<td>
              {% endfor %}
            </tr>
          </table>
          <br/>
          <table class='scheduler-hide' width='90%'>
            <tr>
              <td align='center'>
                <button class='btn btn-info' id='reset_schedule'>Reset schedule records</button>
              </td>
            </tr>
          </table>
        </div>
        <br>
        <div id='scheduler_wrapper'>
          <div id='scheduler' width='100%'></div>
        </div>
        <div class='row scheduler-hide' style='text-align:center;margin-top:10px;'>
          <table id='content-legend' width="90%">
            <tr>
              <td>
                {% for cn in content_names %}
                  <div class='color-legend'>
                    <div class='legend-text'>{{ cn.name }}</div>
                    <div class='color-box'></div>
                  </div></td>
                  {% if loop.index % 6 == 0 %}
                    </tr><td>
                  {% else %}
                    <td>
                  {% endif %}
                {% endfor %}
          </table>
          <br>
          <!-- Export buttons and update buttons -->
          <table width="90%">
            <tr>
              <td>
                <button class='btn btn-info' id='scheduler_update' >Update Schedule</button>
              </td>
              <td>
                <!-- <input type="button" value="Export to EXCEl" id='excelExport' /> -->
                <a class='btn btn-primary' href='/topic/schedule_output'>Export to EXCEl</a>
              </td>
              <td>
                <input type="button" value="Export to iCal" id='icalExport' />
              </td>
            </tr>
          </table>
        </div>
        <!-- <div id="dialog" style='display:none;' title="Modifications are detected!">
          <p>Unsaved Modifications have been detected on the current scheduler.<br />
            Refreshing the scheduler would discard these changes.</p>
        </div> -->
        <div id="dialog_reset" style='display:none;' title="Do you want to reset the scheduler?">
          <p>Once reset, all records in the current scheduler would be removed.<br />
            Are you sure you want to reset the scheduler?</p>
        </div>
        <div style='display:none;' id='err_msgs' title='Conflicts Detected'></div>
        <meta name="csrf-token" content="{{ csrf_token() }}"></meta>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcore.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxbuttons.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscrollbar.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdata.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdata.export.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdate.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscheduler.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxscheduler.api.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdatetimeinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxmenu.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcalendar.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxtooltip.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxwindow.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxcheckbox.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxlistbox.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxdropdownlist.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxnumberinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxradiobutton.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/jqxinput.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/globalization/globalize.js')}}"></script>
  <script src="{{url_for('static',filename='jqwidgets/jqwidgets/globalization/globalize.culture.de-DE.js')}}"></script>
  <script src="{{url_for('static',filename='js/topic_scheduler.js')}}"></script>
  <script src="{{url_for('static',filename='js/multi_filter.js')}}"></script>

{% endblock %}