{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Topic Details{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>
    body {
      padding-top: 10px;
    }
    td {
      border-bottom: 1px solid LightGray;
      border-top: 1px solid LightGray;
      font-size: large;
      color: SlateBlue;
    }
    .col-header{
      text-align: right;
      width: 30%;
      padding-right: 20px;
      border-right: 1px solid LightGray;
    }
    .col-content{
      width: 70%;
      text-align: left;
      padding-left: 20px;
    }
  </style>
  <div class="container-fluid">
  	<div class="row">
  	  <div class="main" style='text-align:center;'>
  	  	<h1>{{ topic.title }}</h1>
        <br />
        <table width='80%' style='margin: 0 auto;'>
          <tbody>
            <tr>
              <td class='col-header'>Description:</td>
              <td class='col-content'>{{ topic.description }}</td>
            </tr>
              <td class='col-header'>Speaker:</td>
              <td class='col-content'>
                {% for s in speakers_list %}
                  {{ s.full_name }}, 
                {% endfor %}
              </td>
            </tr>
              <td class='col-header'>Content:</td>
              <td class='col-content'>{{ topic.content_type.name }}</td>
            </tr>
              <td class='col-header'>Format:</td>
              <td class='col-content'>{{ topic.format_type.name }}</td>
            </tr>
              <td class='col-header'>Start Date:</td>
              <td class='col-content'>{{ topic.year_start + '-' + topic.month_start + '-' + topic.day_start}}</td>
            </tr>
              <td class='col-header'>Duration:</td>
              <td class='col-content'>{{ topic.day_duration }} days {{ topic.hour_duration }} hours {{ topic.minute_duration }} minutes</td>
            </tr>
              <td class='col-header'>Created Date:</td>
              <td class='col-content'>{{ topic.create_date }}</td>
            </tr>
              <td class='col-header'>Created Time:</td>
              <td class='col-content'>{{ topic.create_time }}</td>
            </tr>
              <td class='col-header'>Attendance:</td>
              <td class='col-content'>{{ topic.min_attendance }} - {{ topic.max_attendance }}</td>
            </tr>
              <td class='col-header'>Status:</td>
              <td class='col-content'>{{ topic.status }}</td>
            </tr>
              <td class='col-header'>Jam Link:</td>
              <td class='col-content'>{{ topic.jamlink }}</td>
            </tr>
              <td class='col-header'>Link:</td>
              <td class='col-content'>{{ topic.link }}</td>
            </tr>
              <td class='col-header'>Location:</td>
              <td class='col-content'>{{ topic.location }}</td>
            </tr>
            <tr>
              <td class='col-header'>Validation:</td>
              <td class='col-content'>
                <input type='hidden' class='existing-validation' value={{ topic.validation.first().validation }} />
                <input type='radio' name='{{ topic.topic_id }}' value=1 /> Positive<br />
                <input type='radio' name='{{ topic.topic_id }}' value=0 /> Negative
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  	</div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      
      $(".existing-validation").each(function(){
        if ($(this).val() == 0 || $(this).val() == 1){
          $(this).parent().find('input[type=radio][value=' + $(this).val() + ']').prop('checked',true);
        }
      });
  
    });
  </script>
{% endblock %}