{% extends "bootstrap/base.html" %}
{% block title %}Validate Topics{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>
    iframe#card_view {
      width: 100% !important;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
  </style>
  {% set active_list = 'validate_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Validate Topics</h1>
        <br />

        <div class='row' style='width:90%;text-align:center;'>
          <table class='filter-table' width="90%">
            <tr>
              <td align='right'>
                <label class='control-label' for='content-filter'>Content: </label>
                <select id='content-filter'>
                    <option selected>----Any----</option>
                  {% for c_name in content_names %}
                    <option>{{ c_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <label class='control-label' for='format-filter'>Format: </label>
                <select id='format-filter'>
                  <option selected>--------Any--------</option>
                  {% for f_name in format_names %}
                    <option>{{ f_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='left'>
                <button class='btn btn-primary' id='set_filter'>Search</button>
              </td>
            </tr>
          </table>
        </div>
        <br>

        <div class="table-responsive">
          {% if not topics %}
			      <div class="panel panel-warning">
            	<div class="panel-heading">
              	<h2 class="panel-title">No topic waiting for validation.</h2>
              </div>
              <div class="panel-body">
              	You can change the filter conditions above<br />
              	to search for topics in other categories.
              </div>
          	</div>
		  	  {% else %}
          	{% for topic in topics %}
          	  <table class="table-validation table-striped" width='100%'>
          	    <tbody>
          	      <tr>
          	      	<td width='25%'>
                      <div class='accordion'>
                        <div class='accordion-header' style='height:70px;overflow:auto;display:flex;align-items:center;'><strong>{{ topic.title }}</strong></div>
                        <div>
                          <p>
                            <a href='javascript:void(0)' class='title_links' id='{{ topic.topic_id }}'>{{ topic.description }}</a>
                          </p>
                        </div>
                      </div>
                    </td>
                    <!-- Scrollable part of the table in the middle -->
                    <td width='55%'>
                      <div id="scrollable">
                        <table id='scrollable_content'>
                          <tr>
                            <td><b>Speaker:</b>
                              {% if topic.speaker2 == '' and topic.speaker3 == '' %}
                                {{ topic.speaker1 }}
                              {% else %}
                                {{ topic.speaker1 + ', etc.' }}
                              {% endif %}
                            </td>
                            <td><b>Format:</b> {{topic.format_type.name }}</td>
          	      	        <td><b>Content:</b> {{topic.content_type.name}}</td>
                            <td><b>Location:</b> {{topic.location}}</td>
                            <td><b>Topic ID:</b> {{ topic.topic_id }}</td>
                            <td><b>Audience:</b> {{ topic.min_attendance }} - {{ topic.max_attendance }}</td>
                            <td><b>Start at:</b> {{ topic.year_start + '-' + topic.month_start + '-' + topic.day_start }}</td>
                            <td><b>Duration:</b> 
                              {% if topic.day_duration != "0" %}
                                {{ topic.day_duration + ' days ' }}
                              {% endif %}
                              {% if topic.hour_duration != "0" %}
                                {{ topic.hour_duration + ' hours ' }}
                              {% endif %}
                              {% if topic.minute_duration != "0" %}
                                {{ topic.minute_duration + ' minutes ' }}
                              {% endif %}
                            </td>
                            <td><b>Jam Link:</b> {{ topic.jamlink }}</td>
                          </tr>
                        </table>
                      </div>
                    </td>
                    <!-- End of scrollable part -->
                    <td width='20%'>
                      <input type='hidden' class='existing-validation' value={{ topic.validation.first().validation }} />
					            <input type='radio' name='{{ topic.topic_id }}' value=1 /> Positive&nbsp;&nbsp;&nbsp;&nbsp;
					            <input type='radio' name='{{ topic.topic_id }}' value=0 /> Negative
					          </td>
          	      </tr>
                </tbody>
          	  </table>
          	  <br />
          	    
          	{% endfor %}
            <button class='btn btn-primary' id='submit_validation'>Submit</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div style='display:none;'>
    <iframe id='card_view'></iframe>
  </div>
  <meta name="csrf-token" content="{{ csrf_token() }}"></meta>
  
  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.js')}}"></script>
  <script>
    $(document).ready(function() {
      var csrftoken = $('meta[name=csrf-token]').attr('content');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
		      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		      }
		    }
      });
	  	
      $(".existing-validation").each(function(){
        if ($(this).val() == 0 || $(this).val() == 1){
          $(this).parent().find('input[type=radio][value=' + $(this).val() + ']').prop('checked',true);
        }
      });

      $("#set_filter").click(function(){
        var suffix = "";
        var content_name = $("#content-filter").find(":selected").text();
        var format_name = $("#format-filter").find(":selected").text();
        if (content_name != "----Any----" && format_name != "--------Any--------"){
          suffix += "?content=" + content_name + "&format=" + format_name;
        }
        else if (content_name != "----Any----"){
          suffix += "?content=" + content_name;
        }
        else if (format_name != "--------Any--------"){
          suffix += "?format=" + format_name;
        }
        $(window.location).attr('href', '/topic/validate'+suffix);
      });

      //Send validation result to views.py through AJAX
      $("#submit_validation").click(function(){
        var data = [];
        $("input:radio:checked").each(function(){
          var validation = $(this).val()
          var topic_id = $(this).attr('name');
          var record = {"topic_id": topic_id, "validation": validation};
          data.push(record);
        });
		    $.ajax({
		      type: "POST",
		      contentType: "application/json",
		      dataType: "json",
		      url: "/topic/ajax_validation",
		      data: JSON.stringify({ "Results": data }),
		      success: function(data){
            console.log("send successfully!");
            alert('Update validation succeeded!');
          }
		    });
      });

      $(".accordion").accordion({
        collapsible: true,
        active: false,
        heightStyle: "content",
      });
	  
      $(".title_links").click(function(){
		  console.log("Clicked");
		  var topic_id = $(this).attr('id');
		  var src = '/topic/single_validation/' + topic_id;
		    $("#card_view").attr('src', src);
		    $("#card_view").dialog({
          modal: true,
          width: '700px',
          minHeight: '700px',
		    });
      });

    });
  </script>
{% endblock %}