{% extends "bootstrap/base.html" %}
{% block title %}Validate Topics{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% set active_list = 'validate_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Validate Topics</h1>
        <br />

        <div class='row' style='width:90%;text-align:center;'>
          <table class='filter-table' width="90%">
            <tr>
              <td align='right'>
                <label class='control-label' for='content-filter'>Content: </label>
                <select id='content-filter'>
                    <option selected>----Any----</option>
                  {% for c_name in content_names %}
                    <option>{{ c_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <label class='control-label' for='format-filter'>Format: </label>
                <select id='format-filter'>
                  <option selected>--------Any--------</option>
                  {% for f_name in format_names %}
                    <option>{{ f_name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align='left'>
                <button class='btn btn-primary' id='set_filter'>Search</button>
              </td>
            </tr>
          </table>
        </div>
        <br>

        <div class="table-responsive">
          {% if not topics %}
			      <div class="panel panel-warning">
            	<div class="panel-heading">
              	<h2 class="panel-title">No topic waiting for validation.</h2>
              </div>
              <div class="panel-body">
              	You can change the filter conditions above<br />
              	to search for topics in other categories.
              </div>
          	</div>
		  	  {% else %}
          	{% for topic in topics %}
          	  <table class="table-arrange table-striped">
          	    <tbody>
          	      <tr>
          	      	<td width='28%' colspan='2'><strong><a href='javascript:void(0)' class='title_links' id='{{ topic.topic_id }}'>{{ topic.title }}</strong></td>
                    <td width='18%'>Speaker: 
					  {% if topic.speaker2 == '' and topic.speaker3 == '' %}
					  	{{ topic.speaker1 }}
					  {% else %}
					  	{{ topic.speaker1 + ', etc.' }}
					  {% endif %}
					</td>
                    <td width='18%'>Format: {{topic.format_type.name }}</td>
          	      	<!--c:if test="${ diet_tasks[i-1].state != 'Not Started'}"-->
          	      	<td width='18%'>Content: {{topic.content_type.name}}</td>
					<td width='18%'>Location: {{topic.location}}</td>
          	      </tr>
                  <!--form class='schedule_info' method='POST' action='/topic/set_arrangement'-->
          	      <tr>
					<td width='14%'>Topic ID: {{ topic.topic_id }}</td>
          	      	<td width='14%'>Audience: {{ topic.min_attendance }} - {{ topic.max_attendance }}</td>
          	      	<td width='18%'>Start Date: {{ topic.year_start + '-' + topic.month_start + '-' + topic.day_start }}</td>
                    <td width='18%'>Duration: 
					  {% if topic.day_duration != "0" %}
					  	{{ topic.day_duration + ' days ' }}
					  {% endif %}
					  {% if topic.hour_duration != "0" %}
					  	{{ topic.hour_duration + ' hours ' }}
					  {% endif %}
					  {% if topic.minute_duration != "0" %}
					  	{{ topic.minute_duration + ' minutes ' }}
					  {% endif %}
					</td>
					<td width='18%'>Jam Link: {{ topic.jamlink }}
                    <td width='18%'>
					  <input type='radio' name='{{ topic.topic_id }}' value=1 /> Positive&nbsp;&nbsp;&nbsp;&nbsp;
					  <input type='radio' name='{{ topic.topic_id }}' value=0 /> Negative
					</td>
          	      </tr>
                  <!--/form -->
          	    </tbody>
          	  </table>
          	  <br />
          	    
          	{% endfor %}
            <button class='btn btn-primary' id='submit_validation'>Submit</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div style='display:none;'><iframe id='card_view'></iframe></div>
  <meta name="csrf-token" content="{{ csrf_token() }}"></meta>
  
  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='jquery-timepicker/jquery.timepicker.js')}}"></script>
  <script>
    $(document).ready(function() {
	  var csrftoken = $('meta[name=csrf-token]').attr('content');

	  $.ajaxSetup({
		beforeSend: function(xhr, settings) {
		  if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
			xhr.setRequestHeader("X-CSRFToken", csrftoken);
		  }
		}
	  });	
	  	
      $("#set_filter").click(function(){
        var suffix = "";
        var content_name = $("#content-filter").find(":selected").text();
        var format_name = $("#format-filter").find(":selected").text();
        if (content_name != "----Any----" && format_name != "--------Any--------"){
          suffix += "?content=" + content_name + "&format=" + format_name;
        }
        else if (content_name != "----Any----"){
          suffix += "?content=" + content_name;
        }
        else if (format_name != "--------Any--------"){
          suffix += "?format=" + format_name;
        }
        $(window.location).attr('href', '/topic/validate'+suffix);
      });

      $("#submit_validation").click(function(){
        var data = [];
        $("input:radio:checked").each(function(){
          console.log($(this).attr('name'));
          var validation = $(this).val()
          var topic_id = $(this).attr('name');
          var record = {"topic_id": topic_id, "validation": validation};
          data.push(record);
        });
        console.log(data);
		$.ajax({
		  type: "POST",
		  contentType: "application/json",
		  dataType: "json",
		  url: "/topic/ajax_validation",
		  data: JSON.stringify({ "Results": data }),
		  success: function(data){
			console.log("send successfully!");	
		  }
		});
      });
	  
	  $(".title_links").click(function(){
		console.log("Clicked");
		var topic_id = $(this).attr('id');
		var src = '/topic/single_validation/' + topic_id;
		$("#card_view").attr('src', src);
		$("#card_view").dialog({
			modal: true,
			width: '80%',
			height: '80%'
		});
	  });

    });
  </script>
{% endblock %}