{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Topic Details{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>
  	.form-group {width:50%;}
  </style>
  <!--link href="{{url_for('static', filename='css/register.css')}}" rel="stylesheet"-->
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  	  {% include 'public/side_bar.html' %}
  	  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  	  	<h1 class="page-header">{{ topic.title }}</h1>
        <h4>Description: {{ topic.description }}</h4>
        <h4>Speaker: {{ topic.speaker1 }}</h4>
        <h4>Content: {{ topic.content_type.name }}</h4>
        <h4>Format: {{ topic.format_type.name }}</h4>
        <h4>Start Date: {{ topic.year_start + topic.month_start + topic.day_start}}</h4>
        <h4>Duration: {{ topic.day_duration }} days {{ topic.hour_duration }} hours {{ topic.minute_duration }} minutes</h4>     
        <h4>Created Date: {{ topic.create_date }}</h4>
        <h4>Created Time: {{ topic.create_time }}</h4>
        <h4>Attendance: {{ topic.min_attendance }} - {{ topic.max_attendance }}</h4>
        <h4>Status: {{ topic.status }}</h4>
        <h4>Jam Link: {{ topic.jamlink }}</h4>
        <h4>Link: {{ topic.link }}</h4>
        <h4>location: {{ topic.location }}</h4>
        {% if mode == 'viewer' %}
    	    <a type="button" class="btn btn-primary btn-login" id="register">Register</a>
        {% elif mode == 'creator' %}
          <a href='/topic/modify/{{ topic.topic_id }}' type="button" class="btn btn-primary btn-login" id="modify">Modify</a>
          <button class="btn btn-info btn-login delete" role="button" name="{{ topic.topic_id }}">Delete</button>
        {% endif %}

        <div style="display:none" id='confirm' title='Delete the selected topic?'>
          <p>Do you want to delete the selected topic?</p>
        </div>

      </div>

  	</div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      
      $(".delete").click(function(){
        var topic_id = $(this).attr('name');

        console.log("hello");
        $( "#confirm" ).dialog({
          resizable: false,
          height:200,
          modal: true,
          buttons: {
            Delete: function() {
              $( this ).dialog( "close" );
              console.log("topic id is :" + topic_id);
              $(window.location).attr('href', '/topic/delete?topic_id='+topic_id);
            },
            Cancel: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        console.log("opened");
      });
  
    });
  </script>
{% endblock %}