{% extends "bootstrap/base.html" %}
{% block title %}All Available Events{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <!--link href="{{url_for('static', filename='css/register.css')}}" rel="stylesheet"-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% set active_list = 'available_events' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Available Events</h1>
        <br />
        <div class="table-responsive">
          {% if not events %}
			      <div class="panel panel-warning">
            	<div class="panel-heading">
              	<h2 class="panel-title">No event records yet.</h2>
              </div>
              <div class="panel-body">
              	You can <a href="/event/create">register new events here</a>.<br />
              	More actions are available on the left-hand side navigator bar.
              </div>
          	</div>
		  	 {% else %}
          	{% for event in events %}
          	  <h3 class="event_title text-muted"><a href="/event/view?id={{ event.id }}">{{ event.topic }}</a></h3>
          	  <h4 class="task_title text-success">&nbsp;&nbsp;Host by <strong>{{event.host}}</strong></h4>
          	  <table class="table">
          	    <tbody>
          	      <tr>
          	      	<td>Attendance Number: {{ event.min_attendance }} - {{ event.max_attendance }}</td>
          	      	<td>Start at: {{ event.start_date }}</td>
          	      	<td>Event Duration: {{ event.duration }}</td>
          	      	<!--c:if test="${ diet_tasks[i-1].state != 'Not Started'}"-->
          	      	  <td><a class="btn btn-info" role="button" href="/event/modify?event_id={{ event.id }}">Join</a></td>
          	      	<!--/c:if-->
          	      	<!--c:if test="${ diet_tasks[i-1].state == 'Not Started'}">
          	      	<td><a class="btn btn-info disabled" role="button" href="/project/food/modify_diet_task?id=${ diet_tasks[i-1].id }">Performance</a></td>
          	      	</c:if-->
          	      </tr>
          	      <tr>
          	      	<td>Event Status: {{ event.status }}</td>
          	      	<td colspan="2">Event Locatin: {{ event.location }}</td>
          	      	<td><button class="btn btn-info delete" role="button" name="{{ event.id }}">Interested</button></td>
          	      </tr>
          	    </tbody>
          	  </table>
          	  <br />
          	    
          	{% endfor %}
          {% endif %}
        </div>
        <div style="display:none" id='confirm' title='Delete the selected event?'>
          <p>Do you want to delete the selected event?</p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}