{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Upload Page{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/register.css')}}" rel="stylesheet">
  {% include 'basic/index_navbar.html' %}

  <form id="form1" action="/upload/upload_file" method="post" enctype="multipart/form-data"> 

  {{ wtf.quick_form(form, id='upload_form') }} 
  {% if not message%}
  <p>{{message}}</p></br>    
{% endif%}
  <button type="button" class="btn btn-primary btn-login" id="submit">Upload</button>
  </form>
  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>

    $(document).ready(function() {
      
      $("#submit").click(function(){
        $("#form1").submit();
      });
      
     });  
    var upload = $('#upload_form');
    upload.height(20);
  //$('#upload_form').css({"position":"relative"},{"fontSize":"30px"});
  // var upload = document.getElementById('upload_form');
   //upload.style.position = "center";
   //upload.style.fontSize = '30px';

    </script>
  
    
  </script>
{% endblock %}