<nav style='float:right'>
  <ul class="pagination">
    <li>
      <a href='javascript:void(0)' id='first_page' aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li id='add_page_number'>
      <a href='javascript:void(0)' id='previous_page' aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
      </a>
    </li>
            
    <li>
      <a href='javascript:void(0)' id='next_page' aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
      </a>
    </li>
    <li>
      <a href='javascript:void(0)' id='last_page' aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>