<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li id='personal_topics'><a href="/index">Personal Topics</a></li>
    <li id='available_topics'><a href="/topic/available">Available Topics</a></li>
    <li id='register_topics'><a href="/topic/create">Register Topics</a></li>
    <li id='upload_files'><a href="/upload/upload_file"> Upload Files</a></li>
    {% for m in menus %}
      {% include m.menu_path + '/side_bar.html' %}
    {% endfor %}
  </ul>
</div>
<input type="hidden" id='temp_list_name' value='{{ active_list }}' />
<script>
  $(document).ready(function() {
    var active_name = $("#temp_list_name").val();
    $(document.getElementById(active_name)).addClass('active');
    if ($(document.getElementById(active_name)).parent().hasClass('collapse')){
      $(document.getElementById(active_name)).parent().removeClass('collapse').addClass('collapse in');
      $(document.getElementById(active_name)).parent().parent().prev('li').find('.collapsed').removeClass('collapsed');
    }

    $(".collapsed-title").each(function(){
      if (! $(this).find('a').hasClass('collapsed')){
        $(this).find('.glyphicon').removeClass('glyphicon-plus');
        $(this).find('.glyphicon').addClass('glyphicon-minus');
      }
    });

    $(".collapse").click(function(){
      var menu_title = $(this).find('a');
      if (menu_title.hasClass('collapsed')){
        menu_title.find('.glyphicon').removeClass('glyphicon-plus');
        menu_title.find('.glyphicon').addClass('glyphicon-minus');
      }
      else {
        menu_title.find('.glyphicon').removeClass('glyphicon-minus');
        menu_title.find('.glyphicon').addClass('glyphicon-plus');
      }
    });
  });
</script>