<div class="col-sm-3 col-md-2 sidebar">
  <!--ul class="nav nav-sidebar">
    <li class="active"><a href=""><strong>Overview</strong><span class="sr-only">(current)</span></a></li>
    <li>
      <ul class="list-unstyled" style="margin-left: 15%;">
<                 <li><a href="">Add Food</a></li> >
        <li><a href="/project/food/comparison/">Visualized Data</a></li>
        <li><h5>Select a Date:</h5>
          <form action="/project/food/intake_calorie/" method="POST">
            <div class="date_pick_display"><input type="text" id="datepicker" name="datepicker" /></div>
            <div style="width: 50%;">
              <button type="submit" class="btn btn-sm btn-primary btn-block" id="activate_date">Go Check</button>
            </div>
          </form>
        </li>
        <li>
				  <div style="width: 50%;">
				  	<a role="button" class="btn btn-sm btn-primary btn-block" href="/project/food/add_diet/">Add Diet Task</a>
				  </div>
				</li>
      </ul>
    </li>
  </ul-->
  <!-- This is the side bar of the logged in pages -->
  <ul class="nav nav-sidebar">
    <li id='personal_topics'><a href="/index">Personal Topics</a></li>
    <li id='available_topics'><a href="/topic/available">Available Topics</a></li>
    <li id='register_topics'><a href="/topic/create">Register Topics</a></li>
    <li id='upload_files'><a href="/upload/upload_file"> Upload Files</a></li>
    {% for m in menus %}
      {% include m.menu_path + '/side_bar.html' %}
    {% endfor %}
  </ul>
</div>
<input type="hidden" id='temp_list_name' value='{{ active_list }}' />
<script>
  $(document).ready(function() {
    var active_name = $("#temp_list_name").val();
    $(document.getElementById(active_name)).addClass('active');
    if ($(document.getElementById(active_name)).parent().hasClass('collapse')){
      $(document.getElementById(active_name)).parent().removeClass('collapse').addClass('collapse in');
    }
  });
</script>