{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Menus and Roles{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style>
    .form-menu > div {
      width: 40%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .btn-wrapper {
      text-align: center;
    }
    .form-submitter {
      width:100px;
      margin: 20px auto;
    }
  </style>
  {% set active_list = 'AM' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Create New Menu</h1>
        <br />
        <div class='creation-form'>
          {{wtf.quick_form(form, action="/dataConfig/create_menu", method="post", extra_classes="form-menu", button_map="primary", id="menu_form")}}
        </div>
        <div class='btn-wrapper'>
          <button class='btn btn-primary form-submitter'>Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      $('.form-submitter').click(function(){
        $('#menu_form').submit();
        // $(window.location).attr('href', '/dataConfig/menus_and_roles');
      });
      $('#category_name').autocomplete({
        source: function( request, response ){
          $.ajax({
            url: "/dataConfig/category_name_ajax",
            dataType: "json",
            data: {
              q: request.term
            },
            success: function(data){
              response(data);
            }
          });
        },
        minLength: 2,
        select: function( event, ui ){
          var selected_id = ui.item.id;
          $('#category_id').val(selected_id);
          $('#category_id').attr('readonly', true);
        },
        search: function( event, ui ){
          $('#category_id').removeAttr('readonly');
        }
      })
    });
  </script>
{% endblock %}