<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin:0; padding:0;">
  	<table border="1" cellpadding="0" cellspacing="0" width="100%">
  	  <tr>
  	  	<td>
  	  	  <table align='center' border='1' cellpading="0" cellspacing="0" width="700" style="border-collapse: collapse;">
  	  	  	<tr>
  	  	  	  <td>
  	  	  	  	Dear {{ first_name }},
  	  	  	  </td>
  	  	  	</tr>
  	  	  	<tr>
  	  	  	  <td>
				<br>Thanks for your registration in Event Manager. Your account has been successfully created now and you are able to join any interested events or create your own events.
				<br><br>
        Please activate your account through the following link to get full access.<br>
        Link: {{ activate_link }}
				<b>NOTE:</b> This email was sent automatically. Please don't reply to it.
				<br><br>
				Best Regards,<br>
				Event Manager Gruop<br>
			  </td>
			</tr>
		  </table>
		</td>
	  </tr>
  	</table>
  </body>
</html>