<li class="collapse collapsed-title" style="background-color:#B6B6B4;">
  <a class='collapsed' href="#EM_menu" data-toggle="collapse"><strong>Topic management</strong>&nbsp;&nbsp;&nbsp;&nbsp;
  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</li>
<li>
  <ul class="nav nav-sidebar list-unstyled collapse collapsed-menu" style="margin-left:10%;width:80%;" id='EM_menu'>
    <li id='validate_topics'><a href="/topic/validate">Validate Topic</a></li>
    <li id='arrange_topics'><a href="/topic/arrange">Arrange Topic</a></li>
    <li id='place_topics'><a href="/topic/place">Place Topic</a></li>
  </ul>
</li>