<!-- NAVBAR
================================================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" style="width:95%;margin:0 5% 0 0;">
        <div class="navbar-header" align="left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Event Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <!--ul class="nav navbar-nav">
            <li class="active"><a href="index">Home</a></li>
            <li><a href="#join">Join</a></li>
            <li><a href="#join_by_file">Import Registration</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul-->

          <ul class="nav navbar-nav navbar-right">
            {% if status == 0 %}
              <li><p class="navbar-text" style="color:white;">Hello,&nbsp;&nbsp;<b>{{ first_name }}</b>&nbsp;&nbsp;(<a href="javascript:void(0);" id='a_confirm'><font color='#FF0000'>not activated</font></a>)</p></li>
            {% else %}
              <li><p class="navbar-text" style="color:white;">Hello,&nbsp;&nbsp;<b>{{ first_name }}</b></p></li>
            {% endif %}
            <li><a href="/logout" style="color:white;">Logout</a></li>
          </ul>
          <div style="display:none" id="activate_confirm" title="Do you want to activate?">
            <p>Do you want to receieve an Email to activate your account now?</p>
          </div>

        </div>
      </div>
    </nav>

    <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
      $(document).ready(function() {
      
        $("#a_confirm").click(function(){
          $( "#activate_confirm" ).dialog({
            height:200,
            modal: true,
            buttons: {
              Send: function() {
                $( this ).dialog( "close" );
                $(window.location).attr('href', '/send_activate');
              },
              Cancel: function() {
                $( this ).dialog( "close" );
              }
            }
          });
        });
  
      });
    </script>