<div class="col-sm-3 col-md-2 sidebar">
  <!--ul class="nav nav-sidebar">
    <li class="active"><a href=""><strong>Overview</strong><span class="sr-only">(current)</span></a></li>
    <li>
      <ul class="list-unstyled" style="margin-left: 15%;">
<                 <li><a href="">Add Food</a></li> >
        <li><a href="/project/food/comparison/">Visualized Data</a></li>
        <li><h5>Select a Date:</h5>
          <form action="/project/food/intake_calorie/" method="POST">
            <div class="date_pick_display"><input type="text" id="datepicker" name="datepicker" /></div>
            <div style="width: 50%;">
              <button type="submit" class="btn btn-sm btn-primary btn-block" id="activate_date">Go Check</button>
            </div>
          </form>
        </li>
        <li>
				  <div style="width: 50%;">
				  	<a role="button" class="btn btn-sm btn-primary btn-block" href="/project/food/add_diet/">Add Diet Task</a>
				  </div>
				</li>
      </ul>
    </li>
  </ul-->
  <ul class="nav nav-sidebar">
    {% if sidebar == 'personal' %}
      <li class="active"><a href="/index">Personal Events</a></li>
      <li><a href="/event/available">Available Events</a></li>
      <li><a href="/event/create">Register Event</a></li>
      <li><a href="/role/create">Create Role</a></li>
      <li><a href="/role/manage">Manage Roles</a></li>
    {% elif sidebar == 'public' %}
      <li><a href="/index">Personal Events</a></li>
      <li class="active"><a href="/event/available">Available Events</a></li>
      <li><a href="/event/create">Register Event</a></li>
      <li><a href="/role/create">Create Role</a></li>
      <li><a href="/role/manage">Manage Roles</a></li>
    {% elif sidebar == null %}
      <li><a href="/index">Personal Events</a></li>
      <li><a href="/event/available">Available Events</a></li>
      <li><a href="/event/create">Register Event</a></li>
      <li><a href="/role/create">Create Role</a></li>
      <li><a href="/role/manage">Manage Roles</a></li>
    {% else %}
      <li><a href="/index">Personal Events</a></li>
      <li><a href="/event/available">Available Events</a></li>
      <li  class="active"><a href="/event/create">Register Event</a></li>
      <li><a href="/role/create">Create Role</a></li>
      <li><a href="/role/manage">Manage Roles</a></li>
    {% endif %}
  </ul>
</div>