{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Registration Page{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/register.css')}}" rel="stylesheet">
  {% include 'index_navbar.html' %}
  <div class="container">
    {{wtf.quick_form(form, action="/register", method="post", extra_classes="form-reg", button_map="primary", id="reg_form")}}
    <button type="button" class="btn btn-primary btn-login" id="submit">Register</button>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script>
    $(document).ready(function() {
	    
      $("#submit").click(function(){
		    $("#reg_form").submit();
        //alert("Hello Im here");
	    });
	
    });
  </script>
{% endblock %}