{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Event Manager Home Page{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% include 'basic/index_navbar.html' %}

  <div class="container">
    {{wtf.quick_form(form, action="/index", method="post", extra_classes="form-signin", button_map="primary", id="login_form")}}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div style='text-align:center;'>
          <ul>
            {% for message in messages %}
              <li><font color='red' size='3'>{{ message }}</font></li>
            {% endfor %}
          </ul>
        </div>
        <br/>
      {% endif %}
    {% endwith %}
    <button type="button" class="btn btn-primary btn-login" id="submit">Login</button>
    <div id='forgot_pwd' style='width:100%;text-align:center;padding:10px;'>
      <a href="javascript:void(0);" id='reset_pwd'>Forgot password?</a>
    </div>
    <div id="register_link"><a href="/register" class="btn btn-info">New User</a></div>
    <input type='hidden' id='next_url' value='{{ next }}' />
  </div> <!-- /container -->
  <div style="display:none;" id="reset_email" title='Password Retrieve'>
    {{wtf.quick_form(email_form, action='/send_pwd_reset', method='post', id='pwd_form')}}<br>
    <p>Please enter your registration email address.<br><br>
      A password-reset link would be sent to your email address. The link can only be used once.
    </p>
  <div/>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
	    
      $("#submit").click(function(){
        $("#login_form").append('<input type="hidden" id="next" name="next" value="' + $('#next_url').val() + '" />');
		    $("#login_form").submit();
	    });

      $("#reset_pwd").click(function(){
        $( "#reset_email" ).dialog({
          width:400,
          height:360,
          modal: true,
          buttons: {
            Send: function() {
              $( this ).dialog( "close" );
              $("#pwd_form").submit();
            },
            Cancel: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        console.log("opened");
      });
    });
        
  </script>
{% endblock %}
