{% extends "bootstrap/base.html" %}
{% block title %}{{ full_name }}'s Home Page{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
  <!--link href="{{url_for('static', filename='css/register.css')}}" rel="stylesheet"-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% set active_list = 'personal_topics' %}
  {% include 'public/navbar.html' %}
  <div class="container-fluid">
  	<div class="row">
  		{% include 'public/side_bar.html' %}
    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Personal Topics</h1>
        <br />
        <div class="table-responsive">
          {% if not topics %}
			      <div class="panel panel-warning">
            	<div class="panel-heading">
              	<h2 class="panel-title">No topic records yet.</h2>
              </div>
              <div class="panel-body">
              	You can <a href="/topic/create">register new topics here</a>.<br />
              	More actions are available on the left-hand side navigator bar.
              </div>
          	</div>
		  	 {% else %}
          	{% for topic in topics %}
          	  <h3 class="topic_title text-muted"><a href="/topic/view?topic_id={{ topic_id }}">{{ topic.title }}</a></h3>
          	  <h4 class="task_title text-success">&nbsp;&nbsp;Host by <strong>{{topic.speaker}}</strong></h4>
          	  <table class="table">
          	    <tbody>
          	      <tr>
          	      	<td>Attendance Number: {{ topic.min_attendance }} - {{ topic.max_attendance }}</td>
          	      	<td>Content: {{ topic.content_type.name }}</td>
          	      	<td>Created Date: {{ topic.create_date }}</td>
          	      	<!--c:if test="${ diet_tasks[i-1].state != 'Not Started'}"-->
          	      	  <td><a class="btn btn-info" role="button" href="/topic/modify/{{ topic.topic_id }}">Modify</a></td>
          	      	<!--/c:if-->
          	      	<!--c:if test="${ diet_tasks[i-1].state == 'Not Started'}">
          	      	<td><a class="btn btn-info disabled" role="button" href="/project/food/modify_diet_task?id=${ diet_tasks[i-1].id }">Performance</a></td>
          	      	</c:if-->
          	      </tr>
          	      <tr>
          	      	<td>Topic Status: {{ topic.status }}</td>
          	      	<!--c:if test="${ diet_tasks[i-1].state != 'Expired'}"-->
          	      	<td colspan="2">Topic format: {{ topic.format_type.name }}</td>
          	      	<!--/c:if>
          	      	<c:if test="${ diet_tasks[i-1].state == 'Expired'}">
          	      	  <td>Finished at: ${ diet_tasks[i-1].finish }</td>
          	      	  <td>Total Calorie: ${ totalCalories[i-1] }</td>
          	      	</c:if-->
          	      	<td><button class="btn btn-info delete" role="button" name="{{ topic.topic_id }}">Delete</button></td>
          	      </tr>
          	    </tbody>
          	  </table>
          	  <br />
          	    
          	{% endfor %}
          {% endif %}
        </div>
        <div style="display:none" id='confirm' title='Delete the selected topic?'>
          <p>Do you want to delete the selected topic?</p>
        </div>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      
      $(".delete").click(function(){
        var topic_id = $(this).attr('name');
        console.log("hello");
        $( "#confirm" ).dialog({
          resizable: false,
          height:200,
          modal: true,
          buttons: {
            Delete: function() {
              $( this ).dialog( "close" );
              console.log("topic id is :" + topic_id);
              $(window.location).attr('href', '/topic/delete?topic_id='+topic_id);
            },
            Cancel: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        console.log("opened");
      });
  
    });
  </script>
  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}