{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Event Manager Home Page{% endblock %}
{% block body %}
  {{super()}}
  <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet">
  {% include 'basic/index_navbar.html' %}

  <div class="container">
    {% if uuid != "" and error_msg == "" %}
      {{ wtf.quick_form(form, action="/password_reset", method="post", extra_classes="form-signin", button_map="primary", id="pwd_reset") }}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class='form form-signin' align='left'>
            <ul>
              {% for message in messages %}
                <li><font color='Red'>{{ message }}</font> </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}

      <input type='hidden' name='uuid' id='uuid' value='{{ uuid }}' />
      <input type='hidden' name='email' id='email' value='{{ email }}' />
      <input type='hidden' name='active_code' id='active_code' value='{{ active_code }}' />
      <button type="button" class="btn btn-primary btn-login" id="submit">Update</button>
    {% else %}
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h2 class="panel-title">Authentication Failed.</h2>
        </div>
        <div class="panel-body">
          {{ error_msg }}<br />
          Please ask for a new password-reset link
        </div>
      </div>
    {% endif %}


  </div> <!-- /container -->

  <script src="{{url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
  <script>
    $(document).ready(function() {
	    
      $("#submit").click(function(){
        $("#pwd_reset").append($('#uuid'));
        $("#pwd_reset").append($('#email'));
        $("#pwd_reset").append($('#active_code'));
		    $("#pwd_reset").submit();
        //alert("Hello Im here");
	    });
	
    });

        
  </script>
{% endblock %}
