<li class="collapse collapsed-title" style="background-color:#B6B6B4;">
  <a class='collapsed' href="#RM_menu" data-toggle="collapse"><strong>Role management</strong>&nbsp;&nbsp;&nbsp;&nbsp;
  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</li>
<li>
  <ul class="nav nav-sidebar list-unstyled collapse collapsed-menu" style="margin-left:10%;width:80%;" id='RM_menu'>
    <li id="create_role"><a href="/role/create">Create Role</a></li>
    <li id="manage_role"><a href="/role/manage">Manage Role</a></li>
  </ul>
</li>